.col{
    position: relative;
    float: left;
}
.col header{
    margin-bottom: 15px;
}
.col header h2{
    font-size: 20px;
    color:#AB1B29;
}
.col header h3{
    font-size: 14px;
    color:#AB1B29;
}
.col article{
    font-size: 12px;
    padding-bottom: 15px; 
    margin-top: 10px;
    border-top: 1px dashed #C7AB76; 
    color:#875316;
}
.col article last-of-type{ 
    border: 0px !important /* Quitar el borde del último artículo - Se da priorida a esta regla sobre otras que puedan generar conflicto*/
}
.col article header {
    margin-top: 10px;
    margin-bottom: 8px;
}
#noticias{
    width: 195PX;
    margin-left: 30PX;
}
#animal_mes{
    width: 450px;
    margin-left: 30PX;
    color:#875316;
    font-size: 12px;
}
#animal_mes img{
    width: 438px;
    height: 253px;
}
#redes_sociales{
    margin-left: 20px;
}
#redes_sociales ul li{
    list-style:none;
    margin-bottom: 10px;
    color:#875316;
    font-size: 12px;
    font-weight: bold;
}
#redes_sociales ul li .icon{
    display:inline-block;
    margin-right: 0px;
    width: 21px;
    height: 19px;
}
#redes_sociales ul li a div{
    display: inline-block;
}
#redes_sociales .icon {
    height: 17px;
    border: none;
    
  
}
#pinguino{
    width:154px;
    height: 235px;
    z-index:1000;
    position:absolute;
    right: 30px;
    bottom: -68px;
    border: none;
    background-image: url(../assets/pinguino.png);
}