*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    transition: all linear 0.3s;
}
#nav_principal, #contenedor_principal, #footer_principal .content_principal{
    width: 956px;
    position: relative;
    margin: auto;
}
#nav_principal {
    margin-top: 18px;
    border-bottom: 0px;
}
#contenedor_principal {
    top: -20px;
    height: 867px;
    margin: auto;
    background-image: url(../assets/bgp.png);
}
#footer_principal {
    position: relative;
    width: 100%;
    height: 258px;
    margin-top: 17px;
    background-image: url(../assets/bgf.png);
}
a{
    color: #875316
}
a:hover{
    color: #875316;
    text-decoration: none;

}
.div_clear_both{
    position:relative;
    width: 100%;
    clear: both;
}
#body_principal{
     background-image: url(../assets/bg.png);
     background-repeat: repeat;
     border: 30px solid white;
}